#main {
    border: 1px solid black;
    background-color: rgb(101, 178, 24); 
    z-index: 1;
}

canvas {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    zoom: 100%
}

html {
    margin:0;
    padding:0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    padding:0;
    overflow: hidden;
}

#bac {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#bacImg {
    height: 100vh;
    width: auto;
}

#bigBacImg {
    height: 100vh;
    width: 100vw;
}

#sidebar {
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    /*min-width: 710px;
    width: calc(100vw - 100vh);*/
    /*width: 540px;*/
    z-index: 2;
    background-color: rgba(30, 30, 30, 1); 
}

#nav {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
}

.focusedButton {
    width: 25%;
    height: 100%;
    color: rgba(200, 200, 200, 1);
    text-align: top;
    background-color: rgba(30, 30, 30, 1);
    float: left;
    border: 1px solid rgba(25, 25, 25, 1);
    padding: 0;
    margin: 0;
}

.unFocusedButton {
    width: 25%;
    height: 100%;
    color: rgba(200, 200, 200, 1);
    text-align: top;
    background-color: rgba(75, 75, 75, 1);
    float: left;
    border: 1px solid rgba(25, 25, 25, 1);
    padding: 0;
    margin: 0;
}

#money {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0px;
    height: 50px;
    color: rgba(200, 200, 100, 1);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 45px;
    text-align: top;
    left: 10px;
}

#data {
    display: none;
}

#upgrades {
    z-index: 1;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    width: 50%;
    height: 75%;
    text-align: left;
    zoom: 200%;
}

.grid {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

#buttonGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
    padding: 15px;
    zoom: 100%;
    height: 85%;
    overflow-y: auto;
}

#overlay {
    z-index: 1;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    font-family: 'Courier New', monospace;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    width: 50%;
    height: 75%;
    text-align: center;
    zoom: 100%;
    overflow: auto;
}

#buttonGridPull {
    position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    width: 100%;
    overflow-y: auto;
}

#buttonGridInventory {
    position: relative;
    padding: auto;
    zoom: 100%;
    top: 100px;
    left: 15px;
    height: calc(100vh - 100px);
    max-width: calc(100% - 30px);
    overflow-y: auto;
}

.pullButton {
    width: calc(100% - 20px);
    height: 150px;
    margin: 5px;
    margin-left: 10px;
    padding: 10px;
    text-align: top;
    border: none;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

.itemIcon {
    width: 120px;
    height: 120px;
    padding-top: 10px;
}

.itemButton {
    position: relative;
    top: 0px;
    display: inline-block;
    width: 150px;
    height: 180px;
    margin: 10px;
    text-align: top;
    border: none;
    border-radius: 8px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    white-space: pre-wrap;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(50, 50, 50, 1);
    border-width: 5px;
    border-style: solid;
}

.characterIcon {
    width: 120px;
    height: 120px;
}

.smallIcon {
    width: 12px;
    height: 12px;
}

.mediumIcon {
    width: 30px;
    height: 30px;
}

.focusIcon {
    width: 100%;
    height: auto;
}

.mediumIconDown {
    width: 20px;
    height: 20px;
}

.statsText {
    text-align: left;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    white-space: pre-wrap;
    color: rgba(200, 200, 200, 1);
    vertical-align: top;
}

.characterTitle {
    position: relative;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    white-space: pre-wrap;
    color: rgba(200, 200, 200, 1);
    vertical-align: top;
    width: 110%;
    left: -5%;
}

.characterButton {
    width: 150px;
    height: 250px;
    margin: 10px;
    text-align: top;
    border: none;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(50, 50, 50, 1);
    border-width: 5px;
    border-style: solid;
}

.smallCharacterButton {
    position: relative;
    top: 0px;
    bottom: 0px;
    display: inline-block;
    width: 150px;
    height: 190px;
    max-width: 150px;
    max-height: 190px;
    margin: 10px;
    text-align: top;
    border: none;
    border-radius: 8px;
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    font-size: 15px;
    color: rgba(200, 200, 200, 1);
    background-color: rgba(50, 50, 50, 1);
    border-width: 5px;
    border-style: solid;
}

#teamSelection {
    position: absolute;
    /*left: calc((100vh - 700px) / 2);*/
    top: calc(100vh - 235px);
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding: 0px;
    height: 210px;
    width: 680px;
    min-height: 210px;
    max-height: 210px;
    min-width: 680px;
    max-width: 680px;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    vertical-align:top;
}

#teamContainer {
    margin: 0px;
    padding: 0px;
    height: 210px;
    width: 680px;
    min-height: 210px;
    max-height: 210px;
    min-width: 680px;
    max-width: 680px;
    position: relative;
}

#playButton {
    position: absolute;
    top: calc(100vh - 320px);
    margin: 0px;
    padding: 0px;
}

#buyButton {
    height: 75px;
    width: 275px;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(75, 200, 75, 1);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(50, 150, 50, 1);
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

#cantBuyButton {
    height: 75px;
    width: 275px;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(50, 150, 50, 1);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(25, 100, 25, 1);
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

#sellButton {
    height: 75px;
    width: 275px;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(200, 76, 75, 1);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(150, 50, 50, 1);
    margin: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

#readyPlayButton {
    height: 75px;
    width: 200px;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(75, 200, 75, 1);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(50, 150, 50, 1);
}

#notReadyPlayButton {
    height: 75px;
    width: 200px;
    font-family: 'Courier New', monospace;
    font-size: 25px;
    color: rgba(250, 250, 250, 1);
    background-color: rgba(50, 150, 50, 1);
    border-radius: 15px;
    border-width: 5px;
    border-color: rgba(25, 100, 25, 1);
}

#focus {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    height: calc(100vh - 10px);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    overflow-y: auto;
    z-index: 99;
}

#focusTopRow {
    height: 70px;
    width: 100%;
    padding-bottom: 25px;
}

#focusTitle {
    display: inline-block;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', monospace;
    font-size: 40px;
    color: rgba(250, 250, 250, 1);
    width: 100%;
    margin-bottom: 0px;
    padding-top: 15px;
}

#focusBody {
    display: inline-block;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: rgba(250, 250, 250, 1);
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 15px;
    padding-top: 0px;
    vertical-align: text-top;
}

#focusImageContainer {
    width: 50%;
    height: auto;
    margin: 0px;
    float:left;
    margin: 0px;
    margin-right: 15px;
    vertical-align: text-top;
}

#focusDescription {
    margin: 0px;
    padding: 0px;
    vertical-align: text-top;
    font-size: 20px;
}

#focusStats {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    width: 100%;
    clear: both;
    font-size: 35px;
}

#veryBig {
    font-size: 35px;
}

#bigger {
    font-size: 25px;
}

#smaller {
    font-size: 15px;
}

#focusSkills {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    width: 100%;
    clear: both;
    font-size: 20px;
}

#exitFocus {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
    height: 50px;
    width: 50px;
    z-index: 3;

}

.closeButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0px;
    justify-content: center;
    padding-top: 3px;
}

#inventoryShop {
    justify-content: center;
    width: 100%;
    text-align: center;
}

#noPadding {
    padding: 0px;
    margin: 0px;
}

#cornerIcon {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 2px;
    height: 30px;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 20px;
    background-color: rgba(200, 25, 25, 1);
    text-align: center;
}

#battleScreen {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

#enemyBackline {
    top: 10px;
}

#enemyFrontline {
    top: 220px;
}

#playerFrontline {
    top: calc(100vh - 430px);
}

#playerBackline {
    top: calc(100vh - 220px);
}

.battleCardContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0px;
    height: 210px;
    width: 1020px;
    min-height: 210px;
    max-height: 210px;
    min-width: 1020px;
    max-width: 1020px;
    border-radius: 15px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
}

#down {
    position: relative;
    top: 6.5px;
}

#up {
    position: relative;
    top: -10px;
}

#left {
    position: absolute;
    left: 10px;
    bottom: 3px;
    z-index: 2;
}

#right {
    position: absolute;
    right: 10px;
    bottom: 3px;
    z-index: 2;
}

#greyButton {
    color: rgba(150, 150, 150, 1);
    background-color: rgba(75, 75, 75, 1);
}

#redButton {
    color: rgba(225, 50, 50, 1);
    background-color: rgba(150, 25, 25, 1);
    /*background-image: url(assets/ruby.png);*/
}

#bronzeButton {
    color: rgba(220, 160, 90, 1);
    background-color: rgba(170, 110, 60, 1);
    /*background-image: url(assets/bronze.png);*/
}

#silverButton {
    color: rgba(225, 225, 225, 1);
    background-color: rgba(175, 175, 175, 1);
    /*background-image: url(assets/silver.png);*/
}

#goldButton {
    color: rgba(250, 200, 100, 1);
    background-color: rgba(200, 150, 0, 1);
    /*background-image: url(assets/gold.png);*/
}

#blackButton {
    color: rgba(75, 75, 75, 1);
    background-color: rgba(10, 10, 10, 1);
    /*background-image: url(assets/black.png);*/
}

#rank0Button {
    border-color: rgba(100, 100, 100, 1);
}

#rank1Button {
    border-color: rgba(75, 200, 75, 1);
}

#rank2Button {
    border-color: rgba(75, 150, 200, 1);
}

#rank3Button {
    border-color: rgba(150, 0, 200, 1);
}

#rank4Button {
    border-color: rgba(200, 75, 75, 1);
}

#rank5Button {
    border-color: rgba(255, 200, 50, 1);
}

#rank6Button {
    border-color: rgba(150, 255, 255, 1);
}

#rank7Button {
    border-color: rgba(0, 0, 0, 1);
}

#rank0Text {
    color: rgba(200, 200, 200, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank1Text {
    color: rgba(75, 200, 75, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank2Text {
    color: rgba(75, 150, 200, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank3Text {
    color: rgba(150, 0, 200, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank4Text {
    color: rgba(200, 75, 75, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank5Text {
    color: rgba(255, 200, 50, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

#rank6Text {
    color: rgba(150, 255, 255, 1);
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 0.2);
    white-space: pre-wrap;
}

#rank7Text {
    color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    white-space: pre-wrap;
}

.p {
    margin: 0px;
}

#hpBar {
    position: absolute;
    min-width: 64px;
    max-width: 64px;
    min-height: 24px;
    max-height: 24px;
    top: -6px;
    left: -5px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.hpBarInner {
    position: absolute;
    min-width: 60px;
    max-width: 60px;
    min-height: 20px;
    max-height: 20px;
    margin-top: 2px;
    left: 2px;
    background-color: rgba(255, 0, 0, 0.5);
    z-index: -1;
}

#mpBar {
    position: absolute;
    min-width: 64px;
    max-width: 64px;
    min-height: 24px;
    max-height: 24px;
    top: -6px;
    right: -5px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.mpBarInner {
    position: absolute;
    min-width: 60px;
    max-width: 60px;
    min-height: 20px;
    max-height: 20px;
    margin-top: 2px;
    right: 2px;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: -1;
}

#barDisplay {
    position: relative;
    top: -1.5px;
    margin-left: 2px;
    margin-right: 2px;
}